.b{
    border:1px solid rgb(44, 43, 43);
  }
  .wd-100{
    width: 100%;
  }
  .wd-1{
    width: 120px;
  }
  .h{
    height: 150px;
  }
  .p{
    padding: 5px;
  }
  .pl-1{
    padding-left: 5px;
  }
  .pl-2{
    padding-left: 10px;
  }
  .m-1{
    margin: 5px;
  }
  .mb-12{
    margin-bottom: 60px;
  }
  .mr-1{
    margin-right: 5px;
  }
  .mr-2{
    margin-right: 10px;
  }
  .ml-1{
    margin-left: 5px;
  }
  .ml-2{
    margin-left: 10px;
  }
  .mt-1{
    margin-top: 5px;
  }
  .mt-2{
    margin-top: 40px;
  }
  .mt-12{
    margin-top:60px;
  }
  .br{
    border-radius: 5px;
  }
  .bs{
    box-sizing: border-box;
  }
  .df{
    display: flex;
  }
  .fd-col{
    flex-direction: column;
  }
  .jc-sb{
    justify-content: space-between;
  }
  .ox{
    overflow-x: auto;
  }
  .pi-c{
    place-items: center;
  }